body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
  margin: 0;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#audio-chapter {
  display: none;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

#track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}

#track-info p {
  margin: 0;
}

#previous,
#next {
  font-size: 3rem;
}

#play-pause {
  font-size: 4rem;
}

#buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}